.user-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

.add-event-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.add-event-button:hover {
    background-color: #45a049;
}

.eventos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.evento-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.evento-card:hover {
    transform: scale(1.05);
}

.evento-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.evento-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.evento-card p {
    font-size: 14px;
    color: #555;
}

.edit-btn, .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #d32f2f;
}

.delete-btn {
    background-color: #ff5722;
}

.delete-btn:hover {
    background-color: #e64a19;
}
